{{#edma_facebook_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_facebook_url }}}"><i class="fa fa-facebook"></i></a></li>
{{/edma_facebook_url}}
{{#edma_twitter_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_twitter_url }}}"><i class="fa fa-twitter"></i></a></li>
{{/edma_twitter_url}}
{{#edma_instagram_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_instagram_url }}}"><i class="fa fa-instagram"></i></a></li>
{{/edma_instagram_url}}
{{#edma_pinterest_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_pinterest_url }}}"><i class="fa fa-pinterest"></i></a></li>
{{/edma_pinterest_url}}
{{#edma_dribbble_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_dribbble_url }}}"><i class="fa fa-dribbble"></i></a></li>
{{/edma_dribbble_url}}
{{#edma_google_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_google_url }}}"><i class="fa fa-google"></i></a></li>
{{/edma_google_url}}
{{#edma_youtube_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_youtube_url }}}"><i class="fa fa-youtube-play"></i></a></li>
{{/edma_youtube_url}}
{{#edma_vk_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_vk_url }}}"><i class="fa fa-vk"></i></a></li>
{{/edma_vk_url}}
{{#edma_500px_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_500px_url }}}"><i class="fa fa-500px"></i></a></li>
{{/edma_500px_url}}
{{#edma_behance_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_behance_url }}}"><i class="fa fa-behance"></i></a></li>
{{/edma_behance_url}}
{{#edma_digg_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_digg_url }}}"><i class="fa fa-digg"></i></a></li>
{{/edma_digg_url}}
{{#edma_flickr_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_flickr_url }}}"><i class="fa fa-flickr"></i></a></li>
{{/edma_flickr_url}}
{{#edma_foursquare_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_foursquare_url }}}"><i class="fa fa-foursquare"></i></a></li>
{{/edma_foursquare_url}}
{{#edma_linkedin_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_linkedin_url }}}"><i class="fa fa-linkedin"></i></a></li>
{{/edma_linkedin_url}}
{{#edma_medium_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_medium_url }}}"><i class="fa fa-medium"></i></a></li>
{{/edma_medium_url}}
{{#edma_meetup_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_meetup_url }}}"><i class="fa fa-meetup"></i></a></li>
{{/edma_meetup_url}}
{{#edma_snapchat_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_snapchat_url }}}"><i class="fa fa-snapchat-ghost"></i></a></li>
{{/edma_snapchat_url}}
{{#edma_tumblr_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_tumblr_url }}}"><i class="fa fa-tumblr"></i></a></li>
{{/edma_tumblr_url}}
{{#edma_vimeo_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_vimeo_url }}}"><i class="fa fa-vimeo"></i></a></li>
{{/edma_vimeo_url}}
{{#edma_wechat_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_wechat_url }}}"><i class="fa fa-wechat"></i></a></li>
{{/edma_wechat_url}}
{{#edma_whatsapp_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_whatsapp_url }}}"><i class="fa fa-whatsapp"></i></a></li>
{{/edma_whatsapp_url}}
{{#edma_wordpress_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_wordpress_url }}}"><i class="fa fa-wordpress"></i></a></li>
{{/edma_wordpress_url}}
{{#edma_weibo_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_weibo_url }}}"><i class="fa fa-weibo"></i></a></li>
{{/edma_weibo_url}}
{{#edma_telegram_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_telegram_url }}}"><i class="fa fa-telegram"></i></a></li>
{{/edma_telegram_url}}
{{#edma_moodle_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_moodle_url }}}"><i class="fa fa-graduation-cap"></i></a></li>
{{/edma_moodle_url}}
{{#edma_amazon_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_amazon_url }}}"><i class="fa fa-amazon"></i></a></li>
{{/edma_amazon_url}}
{{#edma_slideshare_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_slideshare_url }}}"><i class="fa fa-slideshare"></i></a></li>
{{/edma_slideshare_url}}
{{#edma_soundcloud_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_soundcloud_url }}}"><i class="fa fa-soundcloud"></i></a></li>
{{/edma_soundcloud_url}}
{{#edma_leanpub_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_leanpub_url }}}"><i class="fa fa-leanpub"></i></a></li>
{{/edma_leanpub_url}}
{{#edma_xing_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_xing_url }}}"><i class="fa fa-xing"></i></a></li>
{{/edma_xing_url}}
{{#edma_bitcoin_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_bitcoin_url }}}"><i class="fa fa-btc"></i></a></li>
{{/edma_bitcoin_url}}
{{#edma_twitch_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_twitch_url }}}"><i class="fa fa-twitch"></i></a></li>
{{/edma_twitch_url}}
{{#edma_github_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_github_url }}}"><i class="fa fa-github"></i></a></li>
{{/edma_github_url}}
{{#edma_gitlab_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_gitlab_url }}}"><i class="fa fa-gitlab"></i></a></li>
{{/edma_gitlab_url}}
{{#edma_forumbee_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_forumbee_url }}}"><i class="fa fa-forumbee"></i></a></li>
{{/edma_forumbee_url}}
{{#edma_trello_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_trello_url }}}"><i class="fa fa-trello"></i></a></li>
{{/edma_trello_url}}
{{#edma_weixin_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edma_weixin_url }}}"><i class="fa fa-weixin"></i></a></li>
{{/edma_weixin_url}}